@{
    ViewBag.Title = "Home Page";


}

<br />
<div class="text-center">
    <div class="card" style="width: 22rem;">
    </div>
    <h3 style="color:#800000"; "card-title">Library System</h3>
    <img src="https://i.pinimg.com/originals/7a/07/5a/7a075ae77e31249f5585f38cbeb77dd0.jpg" class="card-img-top" alt="...">
    <div class="card-body">

        <b><p class="p1"></p></b>
        <a href="https://localhost:44309/indhu/Index" class="btn btn-info">Index</a>
        <br />
        <a href="https://localhost:44309/indhu/Create" class="btn btn-success">Create</a>
        <a href="https://localhost:44309/indhu/Edit/1" class="btn btn-warning">Update</a>
        <a href="https://localhost:44309/indhu/Details/1" class="btn btn-primary">Details</a>
        <!--<a href="~/Views/Home/About.cshtml">~/Views/Home/About.cshtml</a>-->
        <a href="https://localhost:44309/indhu/Delete/1" class="btn btn-danger">Delete</a>

        <style>
            .btn-info {
                padding: -20px;
                margin: auto;

            }
        </style>

    </div>
</div>
